<div class="logo">
  <h3>Welcome to:</h3>
  <h1 class="logo-text">Taskr</h1>
</div>

<%= form_for :session, html: { class: "login" }, url: session_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>
