<h1>Hello</h1>

<h3> Here are your tasks, <%= current_user.email %> </h3>

<%= render "error_messages", target: @task %>
<%= form_for @task do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :decription %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit %>
<% end %>

<h3> These are the tasks that you've yet to complete </h3>
<%= render @tasks.incomplete %>

<h3> These are the tasks that you've completed! Woo! </h3>

